

.custom-panel-card{
  height: 150px;
  width: 100%;
  display: grid;
  place-content: center;

  .ant-btn{
    width: 300px;

    &:hover {
      background: royalblue;
      color: #f4f4f4 !important;
      border: none !important;
    }
  }
}

